body {
    font-family: Arial, Helvetica, sans-serif;
}

.errormessage {
    color: red;
    font-weight: bold;
    background-color: rgb(248, 171, 171);
    padding: 20px;
    border-radius: 10px;
}

.centering{
    justify-content: center;
    padding: 30px;
    align-items: center;
}


.form-card{
    background-color: rgb(192, 154, 178);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.submitbutton,
.clearbutton {
    padding: 10px;
    border: 2px solid maroon;
    background-color: white;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;      
    text-decoration: none;    
    line-height: 16px;
}

.submitbutton {
    color: pink;
}

.clearbutton {
    color: hotpink;
}
