body {
    font-family: Arial, Helvetica, sans-serif;
}

.errormessage {
    color: red;
    font-weight: bold;
    background-color: rgb(248, 171, 171);
    padding: 20px;
    border-radius: 10px;
}
